version: "3.8"

services:
  backend:
    build: ./client-api
    container_name: crm-backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: crm-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
